.parent {
  height: 100svh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;  
   justify-content: center;
  /*align-items: center; */
  gap: 16px;      
}

.card {
  height: 150px;
  width: 150px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
    margin-left: 600px;
    margin-bottom: 30px;
    margin-top: 220px;
}
