 /* .parent {
    width:750px;
} */
 #chart3 {
    
    /* width : 580px; */
} 
.area3 {
    /* border: 2px solid black; */
    display: flex;
    margin-top: 40px;
    margin-left: 10px;

    height: 380px;
    /* width: 580px; */
    box-shadow: 0px 0px 2px 2px rgb(205, 204, 204);
    
}
 