 /* .parent {
    width:750px;
} */
 #chart1 {
    
    width : 380px;
} 
.area1 {
    /* border: 2px solid black; */
    display: flex;
    margin-top: 10px;
    margin-left: 30px;

    height: 280px;
    width: 380px;
    /* box-shadow: 0px 0px 2px 2px rgb(205, 204, 204); */
    padding-top: 30px;
}
 